.inicio{
    background-color: rgb(230, 159, 159);
    
    }

h1 {
    color: rgb(230, 217, 225);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;

}

h3 {
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.botones {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.comidaCSS, .lugaresCSS, .musicaCSS, .peliculasCSS{
    background-color: rgba(178, 240, 235, 0.856);

}

.a, .b, .c, .d{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;    
    border: solid 3px;
    border-radius: 5px 30px 5px 30px;
}

.liComida, .liMusica, .liLugares, .liPeliculas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ol {
    font-weight:lighter;
}

.img1 {
border: solid 1px;
display:block;
margin-left: 50%;
margin-right: 50%;

}